body{
    background-color:pink;
    margin:0;
    padding:20px;
}

.container
{
    margin:auto;
    max-width:600px;
    background:white;
    padding:20px;
    border-radius:8px;
}

h1{
    text-align:center;
}

form
{
    display:flex;
    flex-direction: column;
    gap:10px;
}

input,textarea
{
    padding:10px;
    background-color:whitesmoke;
    border-radius:4px;
}

button
{
    padding:10px;
    background-color:green;
    color:white;
    border:none;
    border-radius:4px;
    cursor:pointer;
}
button:hover
{
    background-color:pink;
}
.recipe h2
{
    margin:0;
}
.recipe p
{
    margin:5px 0;
}

